<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a *ngIf="loginService.isUserLoggedIn()" class="nav-item nav-link" routerLink="/iHomeService">Home</a>
        <a *ngIf="loginService.isUserLoggedIn()" class="nav-item nav-link" routerLink="/profile">Profile</a>
        <a *ngIf="loginService.isUserLoggedIn()" class="nav-item nav-link" routerLink="/booking-summary">Booking Summary</a>
        <a *ngIf="!loginService.isUserLoggedIn()" class="nav-item nav-link" routerLink="/login">Login</a>
        <a *ngIf="loginService.isUserLoggedIn()" class="nav-item nav-link" routerLink="/logout">Logout</a>
    </div>
</nav>

<!-- main content container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
