<div class="col-md-12">
    <h2 class="text-center">Service Rating</h2>
    <br>
    <hr class="style2">
    <br>
    <form>
        <div class="row">
            <div class="col-md-6">
                <label for="serviceName">Booking ID:</label>
            </div>
            <div class="col-md-6">
                <span>{{selectedBooking.bookingID}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="serviceName">Service Provider Name:</label>
            </div>
            <div class="col-md-6">
                <span>{{selectedBooking.serviceProviderID.username}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="serviceName">Booking Date:</label>
            </div>
            <div class="col-md-6">
                <span>{{selectedBooking.bookingDatetime | date:'longDate'}}</span>
            </div>
        </div>
        <br>
        <hr class="style2">
        <br>
        <div class="form-group">
            <label for="comment">Rating:</label>
            <br>
            <div class="rate">
                <input type="radio" [(ngModel)]="rating.rating" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 </label>
                <input type="radio" [(ngModel)]="rating.rating" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 </label>
                <input type="radio" [(ngModel)]="rating.rating" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 </label>
                <input type="radio" [(ngModel)]="rating.rating" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 </label>
                <input type="radio" [(ngModel)]="rating.rating" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 </label>
            </div>
        </div>
        <br>
        <br>
        <div class="form-group">
            <label for="comment">Comment:</label>
            <br>
            <input type="text" [(ngModel)]="rating.comment" placeholder="Comment" name="comment" class="form-control"
                id="comment">
        </div>
        <br>
        <button class="btn btn-success" (click)="create()">Submit</button>
    </form>
</div>