<div class="generic-container">
    <br>
        <hr class="style2">
    <div class="panel panel-default">
       
      <div class="row">
        <h2 class="text-center">Booking Details</h2>
      </div>
      <div class="tablecontainer">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Service Name</th>
            <th>Service Provider Name</th>
            <th>Price</th>
            <th>Unit</th>
            <th>Quantity</th>
            <th>Date</th>
            <th>Total</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><span>{{bookingService.serviceName}}</span></td>
            <td><span>{{bookingService.serviceProviderID.username}}</span></td>
            <td><span>{{bookingService.serviceRate}}</span></td>
            <td><span>{{bookingService.serviceRateUnit}}</span></td>
            <td>
              <input type="number" [(ngModel)]="quantity" placeholder="Quantity" name="quantity" class="form-control"
                id="quantity" (change)="onQuantityChange()">
            </td>
            <td>
              <input type="date" [(ngModel)]="bookingDetails.bookingDatetime" placeholder="Service Date" name="bookingDatetime" class="form-control"
                id="bookingDatetime">
            </td>
            <td>
              <span>{{bookingDetails.totalServiceFee}}</span>
            </td>
            <!-- <td><button class="btn btn-success" (click)="book(product)">Book</button></td> -->
          </tr>
          </tbody>
        </table>
      </div>

      <button class="btn btn-success" (click)="book()">Book</button>
    </div>
  </div>
